<form>
    <div class="form-group">
        <label for="Name">Name</label>
        <input id="Name" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Feedback</label>
        <div class="form-control">
            <label class="radio-inline">
                <input type="radio" value="great" name="feedback">
                Great
            </label>
            <label class="radio-inline">
                <input type="radio" value="okay" name="feedback">
                Okay
            </label>
            <label class="radio-inline">
                <input type="radio" value="not good" name="feedback">
                Not Good
            </label>

        </div>
        
    </div>


    <div class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
    
</form>
